/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --accent-blue: #81B3D2;
    --dark-gray-text: #333333;
    --light-gray-calendar: #A9A9A9;
    --super-light-gray-bg: #F2F2F2;
    --rating-text: #666666;
    --btn-bg-gray-brown: #766357;
    --btn-hover-brown: #604E43;
    --btn-active-dark-brown: #503E33;
    --btn-hover-blue: #669EC0;
    --btn-active-blue: #5496BD;
    --opasity30-black: rgba(0, 0, 0, 0.3);
    --active-light-gray: #EBEBEB;
    --locked-gray: #6A6A6A;
    --bg-list: #EEEEEE;
}

/* Global */

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--dark-gray-text);
    text-transform: uppercase;
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
  

  a {
    text-decoration: none;
  }
  
/*visually-hidden*/

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
/*Navigation*/

  .nav {
    font-weight: 700;
    line-height: 26px;
    height: 56px;
      }
  .nav a{
  color:var(--basic-black)
  }
  .nav a:hover{
    color: var(--accent-blue) ;
  }

  .nav a:focus{
    color:var(--btn-bg-gray-brown)
  }

  .nav a:active{
    color:var(--opasity30-black)
  }
 
  .list-nav {
    list-style: none;
      }

  /*cover-content*/

  .cover-content {
    text-align: center;
    line-height: 26px;
  }  
  .cover-content h1{
    font-weight: bold;
    font-size: 21px;  
    color:var(--basic-black);
  }  
  .cover-img {
    width: 1200px;
    height: 509px;
    left: 40px;
    top: 55px;
    background-color: rgba(129,179,210,0.3);
  }   

  /*blue-boxes*/

  .blue-box {
    width: 400px;
    height: 256px;
    background-color: var(--accent-blue);
    text-align: center;
    color:var(--basic-white)
  }
  
  .title-white {
    color:var(--basic-white);
    font-weight: bold;
    font-size: 21px; 
  }

  /*features*/

  .features-list-1, .features-list-2 {
  list-style: none;
  text-align: center;
  }    
 .features-item h3 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  }
  .icon_motel {
    background-image:url("../img/icon_motel.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    background-position: center;
  }
  .icon_hamburger {
    background-image: url("../img/icon_hamburger.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 70px;
    background-position: center;
  }
  .icon_gift {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 77px;
    background-position: center;
  }
  /*selection-of-proposals*/

 .selection-of-proposals {
   text-align: center;
  }

 .selection-of-proposals span {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color:var(--basic-black);
  }
  .selection-of-proposals p {
   line-height: 24px;
  }

 /*footer*/

 .footer {
   text-align: center;
   line-height: 26px;
   color: var(--basic-black);
  }
 .contacts {
  font-weight: bold;
  font-size: 21px;
  }
 .contacts a {
  color:var(--basic-black);
  }
 .list-socials {
   list-style: none;
  }
/*catalog*/

.hotel-filter {
  background-color:var(--accent-blue);
  background-image:url("../img/background-catalog.jpg");
  color:var(--basic-white);
  }
.legend-filter {
  font-weight: bold;
  font-size: 16px;
  }

.hotel-filter-form h2 {
  font-weight: bold;
  font-size: 16px;
  }

.sorting-container h2 {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--basic-black);
  }

.sorting-container h3 {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  }
.sorting-button {
  color: var(--opasity30-black);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px dotted var(--accent-blue);
  background-color: var(--basic-white);
  cursor: pointer;
}

.sorting-button:hover{
  color: var(--accent-blue) ;
  }

.sorting-button:focus {
  color:var(--basic-black);
  border-bottom: none;
}

.sorting-buttom:active{
    color:var(--accent-blue);
    border-bottom: none;
  }
}
  .list-hotels {
    list-style: none;
  }

  .item-hotels h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color:var(--basic-black);
  }

  .item-hotels h3:hover {
    color: var(--accent-blue);
  }

  .item-hotels h3:active {
    color: var(--opasity30-black);
  }

  .batton-more {
    font-weight: bold;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--accent-blue);
    display: inline-block;
    padding: 3px 17px 3px 17px;
    cursor: pointer;
  }
  .batton-more:hover {
    background-color: var(--btn-hover-blue);
  }
  .batton-more:active {
    background-color: var(--btn-active-blue);
  }
  .book-button {
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--btn-bg-gray-brown);
    padding: 3px 17px 3px 17px;
    height: 27px;
    width: 142px;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  .book-button:hover {
    background-color: var(--btn-hover-brown);
  }
  .book-button:active {
    background-color: var(--btn-active-dark-brown);
  }

  .hotels-rating {
    color: var(--rating-text);
    background-color: var(--super-light-gray-bg);
    padding: 3px 15px 3px 15px;
  }

/*grid*/

.page {
  height:100%;
}
.list-nav {
  display: grid;
  grid-template-columns: 228px 228px auto 228px 228px;
  padding-left: 72px;
  text-align: left;
}
.list-nav:first-child {
grid-column-start: 1;
grid-column-end: 2;
}
.list-nav:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.list-nav:nth-child(4n),
.list-nav:nth-child(4n-1) {
  padding-left: 0;
  padding-right: 72px;
  text-align: right;
}

.features-1 {
  display: grid;
  grid-template-columns: 400px 800px;
}
.features-1 .blue-box {
  grid-column-start: 1;
  grid-column-end: 2;
}
.img-features-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.features-2 {
  display: grid;
  grid-template-columns: 800px 400px;
  /*outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;  margin:auto 0;*/
}
.features-2 .blue-box {
  grid-column-start: 2;
  grid-column-end: 3;
}
.img-features-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.features-list-1 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.features-list-1:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}